@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:wght@300&family=Play&family=Rambla&display=swap');

  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font: inherit;
    vertical-align: baseline;
    border: 0;
    margin: 0;
    padding: 0;
    color: aliceblue;
  }
  body{
    background-color: #17132B;
    font-family: "Rambla";
    font-size: medium;
    line-height: 2em;
  }
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }

  ol, ul {
    list-style: none;
  }

  blockquote, q {
    quotes: none;
  }

  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }



* {
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}
h1{
  text-align: center;
  text-transform: uppercase;
  font-family: "Audiowide";
  font-size: 4em;
  margin: 1rem auto;

}
h2{
  text-align: center;
  font-family: "Joseffin+Sans";
  font-size: 2.5em;
  margin: 0.5rem auto;
  line-height: 1.5em;
}
h3 {
  text-align: center;
  font-family: "Joseffin+Sans";
  font-size: 1.8em;
  margin: 0.5rem auto;
  line-height: 1.2em;}

.main-container {
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.bouton1 {
  background: rgb(242,139,0);
background: linear-gradient(180deg, rgba(242,139,0,1) 70%, rgba(242,37,47,1) 98%);
        padding: 15px 32px;
        margin: 2.5rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 50px;
        width: 200px;
}

.header{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.presentation-container{
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    margin: 5%;
}
.image-container{
    width: 50%;
    display: flex;
    justify-content: center;
}
.image-container img{
    width: 100%;
}
.presentation{
    display: flex;
    justify-content: center;
}
.presentation-text{
    width: 60%;
    padding: 10% 5%;
    text-align: center;
}
p {
    font-size: medium;
}
.presentation-image{
    width:40%;
    border-radius: 50%;
    box-shadow: rgba(139, 199, 210, 0.663) 0px 4px 6px -1px, rgba(221, 150, 244, 0.502) 0px 2px 4px -1px;
    margin: 5%;
    }
.presentation-image img{
    width:100%;
}

/**********NAV**********/

.menu__list{
    display: flex;
    width: 100%;
    height: 20vh;
    background-color: #12111f2b;
  }
nav ul{
width: 100%;
height: 100%;
display: flex;
justify-content: space-around;
align-items: center;
}



.search-container {
  margin: 5em auto;
  text-align: center;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.search-field {
  width: 100%;
  max-width: 400px;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  box-shadow: none;
  font-size: 1em;
}

.search-submit {
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  box-shadow: none;
  font-size: 1em;
  background-color: #fff;
  cursor: pointer;
}

.display-signs-container{
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.sign-item{
  width: 20%;
  height: 20vh;
  border: solid 1px white;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-item:hover{
  box-shadow: #FD3C00 0px 7px 29px 0px;
}

h3{

  color: white;
}


/*************Single signe*************/
.single-signe-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video-container{
  width: 60%;
  margin: auto;
  text-align: center;
  padding: 10px;
}

.video-container video {
  display: block;
  margin: 0 auto;
}
.categorie-container {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.definition-container {
  width: 60%;
  border: 2px solid white;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contexte-container {
  width: 60%;
  border: 2px solid white;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Style pour les smartphones */
@media only screen and (max-width: 767px) {
  .single-signe-container {
    padding: 20px;
  }
  .video-container {
    width: 100%;
    padding: 20px;
  }
  .video-container iframe {
    width: 100%;
  }
  .categorie-container {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
  }
  .definition-container {
    padding: 20px;
  }
  .contexte-container {
    padding: 20px;
  }
}

/* Style pour les tablettes */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .single-signe-container {
    padding: 40px;
  }
  .video-container {
    width: 80%;
  }
  .categorie-container {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
  }
  .definition-container {
    padding: 20px;
  }
  .contexte-container {
    padding: 20px;
  }
}

</style>