@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:wght@300&family=Play&family=Rambla&display=swap');

  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font: inherit;
    vertical-align: baseline;
    border: 0;
    margin: 0;
    padding: 0;
    color: aliceblue;
  }
  body{
    background-color: #17132B;
    font-family: "Rambla";
    font-size: medium;
    line-height: 2em;
  }
  article, aside, details, figcaption, figure, footer, hgroup, menu, nav, section {
    display: block;
  }

  ol, ul {
    list-style: none;
  }
  li {
    list-style-type: none;
    }
  a:link, a:visited{
    text-decoration: none;
    color: #bcbcbc;
    }

  blockquote, q {
    quotes: none;
  }

  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }



* {
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}
h1{
  text-align: center;
  text-transform: uppercase;
  font-family: "Audiowide";
  font-size: 4em;
  margin: 1rem auto;

}
h2{
  text-align: center;
  font-family: "Joseffin+Sans";
  font-size: 2.5em;
  margin: 0.5rem auto;
  line-height: 1.5em;
}
h3 {
  text-align: center;
  font-family: "Joseffin+Sans";
  font-size: 1.8em;
  margin: 0.5rem auto;
  line-height: 1.2em;}

header{
  margin-bottom: 3rem;
  display: flex;
  }
.main-container {
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.bouton1 {
  background: rgb(242,139,0);
background: linear-gradient(180deg, rgba(242,139,0,1) 70%, rgba(242,37,47,1) 98%);
        padding: 15px 32px;
        margin: 2.5rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 50px;
        width: 200px;
}

.presentation-container{
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    margin: 5%;
}
.image-container{
    width: 50%;
    display: flex;
    justify-content: center;
}
.image-container img{
    width: 100%;
}
.presentation{
    display: flex;
    justify-content: center;
}
.presentation-text{
    width: 60%;
    padding: 10% 5%;
    text-align: center;
}
.presentation-text p{
  font-size: larger;
}
p {
    font-size: medium;
}
.presentation-image{
    width:40%;
    border-radius: 50%;
    box-shadow: rgba(139, 199, 210, 0.663) 0px 4px 6px -1px, rgba(221, 150, 244, 0.502) 0px 2px 4px -1px;
    margin: 5%;
    }
.presentation-image img{
    width:100%;
}

/**********NAV**********/
.nav-container{
  margin-bottom: 4rem;
}
.menu__list{
  display: flex;
  width: 100%;
  height: 20vh;
  background-color: #12111f2b;
  box-shadow: rgba(255, 255, 255, 0.489) 0px 2px 3px;
}
nav ul{
width: 100%;
height: 100%;
display: flex;
justify-content: space-around;
align-items: center;
}


/************ARCHIVE SIGNES**********/

.search-container {
  margin: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#search-form{
  display: flex;
  flex-direction: column;
}

#search-input {
  padding: 8px;
  font-size: 14px;
  width: 300px;
}

#search-results {
  width: 100%;  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
}

#search-results .sign-item {
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
}
#sign-item{
  display: flex;
  justify-content: center;
  align-items: center;
}


.display-signs-container{
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.sign-item{
  width: 20%;
  height: 20vh;
  border: solid 1px white;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-item:hover{
  box-shadow: #FD3C00 0px 7px 29px 0px;
}

h3{

  color: white;
}


/*************Single signe*************/
.single-signe-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video-container{
  width: 60%;
  margin: auto;
  text-align: center;
  padding: 10px;
}

.video-container video {
  display: block;
  margin: 0 auto;
}
.categorie-container {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.definition-container {
  width: 60%;
  border: 2px solid white;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contexte-container {
  width: 60%;
  border: 2px solid white;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Style pour les smartphones */
@media only screen and (max-width: 767px) {
  .single-signe-container {
    padding: 20px;
  }
  .video-container {
    width: 100%;
    padding: 20px;
  }
  .video-container iframe {
    width: 100%;
  }
  .categorie-container {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
  }
  .definition-container {
    padding: 20px;
  }
  .contexte-container {
    padding: 20px;
  }
}

/* Style pour les tablettes */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .single-signe-container {
    padding: 40px;
  }
  .video-container {
    width: 80%;
  }
  .categorie-container {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    text-align: center;
  }
  .definition-container {
    padding: 20px;
  }
  .contexte-container {
    padding: 20px;
  }
}
/************TAG***********/

/***********FORM DEMANDE*********/
/* Mettre le label au-dessus du champ */
.content-area{
  width: 70%;
  margin: auto;
}
#demande-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem;
  padding: 1rem;
  width: 90%;
  height: 20vh;
  border: solid 1px white;
}
.form-item:hover{
  box-shadow: #FD3C00 0px 7px 29px 0px;
}

/***********ARCHIVE DEMANDES**********/
.display-demandes-container{
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.demande-item{
  width: 20%;
  height: 20vh;
  border: solid 1px white;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.demande-item:hover{
  box-shadow: #FD3C00 0px 7px 29px 0px;
}
.categorie-container, .contexte-container, .definition-container {
  width: 60%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}
.categorie-container, .date-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*******INSCRIPTION ET CONNEXION*********/
/* Styles pour les formulaires */
form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 500px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type=text],
form input[type=email],
form input[type=password],
form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 20px;
}

form input[type=submit],
form button {
  background-color: #0073aa;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

form input[type=submit]:hover,
form button:hover {
  background-color: #005c82;
}

form .error {
  color: red;
  font-style: italic;
  margin-bottom: 10px;
}

/* Styles pour les messages d'erreur */
.alert {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.redirect-inscription{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}